<!--

                                     Apache License
                               Version 2.0, January 2004
                            http://www.apache.org/licenses/

-->
<configuration scan="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
           ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger %F:%L - %n%msg%n%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="tech.hillview.api.curator.client" level="debug" />

  <!--
   <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{30} - msg%n</pattern>
   HOSTNAME, CONTEXT_NAME
   java -DUSER_HOME="/home/sebastien" MyApp2
   ${id:-${userid}}
   <property name="USER_HOME" value="/home/sebastien" />
   <appender name="FILE" class="ch.qos.logback.core.FileAppender">
       <file>${USER_HOME}/myApp.log</file>
       <encoder>
           <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
       </encoder>
   </appender>
   <logger name="tech.hillview.api.curator.client" additivity="false">
       <appender-ref ref="FILE" />
   </logger>
   -->
</configuration>

